@{
    ViewBag.Title = "用户中心";
}

<div class="uc_main">
    <div class="uc_left">
        @Html.Raw(JWL.Service.UserService.GetUserCenterListHtml("会员首页"))
    </div>
    <div class="uc_right">
        <div class="h_j_title">
            <span class="c_truck_stitle_t">会员首页</span>
        </div>
        <div class="uc_index">
            <div class="uc_index_l">
                 <div class="uc_index_head img-thumbnail"></div>
            </div>
            <div class="uc_index_r">
                <p>我的昵称：<span>jerry</span><span class="nextcol"></span><a>修改资料</a></p>
                <p>我的等级：<span>★★★★☆</span></p>
                <p>绑定的手机号：<span>18961156543</span><span class="nextcol"></span><a>修改手机</a></p>
                <p>我的积分：<a>2234</a> 牛币</p>
                <p>我的发布：<a>23</a> 个货源</p>
                <p>我的查看数：<a>23</a> 个交易</p>
                <p>身份认证：321027********3839</p>
                <p>帐户有效期：<span>2015-2-23</span><span class="nextcol"></span><a>续费</a></p>
                <p>上次登录时间：<span>2015-2-23 09:12</span></p>
            </div>
        </div>

        <div class="uc_index2">
            <div class="h_j_title">
                <span class="c_truck_stitle_t">最新动态</span>
            </div>
            <table class="table table-condensed">
                <tr>
                    <td class="img_row" rowspan="3">
                        <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                    </td>
                    <td>车牌号：冀B0621</td>
                    <td>车型：低栏车</td>
                    <td>司机：王先生</td>
                </tr>
                <tr>
                    <td>车长：13米</td>
                    <td>载重：50吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">当前位置：常州</td>
                    <td>更新时间：2014-7-12</td>
                </tr>
            </table>
            <table class="table table-condensed">
                <tr>
                    <td class="img_row" rowspan="3">
                        <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                    </td>
                    <td>车牌号：冀B0621</td>
                    <td>车型：低栏车</td>
                    <td>司机：王先生</td>
                </tr>
                <tr>
                    <td>车长：13米</td>
                    <td>载重：50吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">当前位置：常州</td>
                    <td>更新时间：2014-7-12</td>
                </tr>
            </table>
            <table class="table table-condensed">
                <tr>
                    <td class="img_row" rowspan="3">
                        <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                    </td>
                    <td>车牌号：冀B0621</td>
                    <td>车型：低栏车</td>
                    <td>司机：王先生</td>
                </tr>
                <tr>
                    <td>车长：13米</td>
                    <td>载重：50吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">当前位置：常州</td>
                    <td>更新时间：2014-7-12</td>
                </tr>
            </table>
            <table class="table table-condensed">
                <tr>
                    <td class="img_row" rowspan="3">
                        <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                    </td>
                    <td>车牌号：冀B0621</td>
                    <td>车型：低栏车</td>
                    <td>司机：王先生</td>
                </tr>
                <tr>
                    <td>车长：13米</td>
                    <td>载重：50吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">当前位置：常州</td>
                    <td>更新时间：2014-7-12</td>
                </tr>
            </table>
            <table class="table table-condensed">
                <tr>
                    <td class="img_row" rowspan="3">
                        <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                    </td>
                    <td>车牌号：冀B0621</td>
                    <td>车型：低栏车</td>
                    <td>司机：王先生</td>
                </tr>
                <tr>
                    <td>车长：13米</td>
                    <td>载重：50吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">当前位置：常州</td>
                    <td>更新时间：2014-7-12</td>
                </tr>
            </table>
        </div>
    </div>
</div>
