@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="uc_main">
    @Html.Action("UCTopList", "Templete")
    <div class="uc_right">
        <div class="clit2 clit2_3">
            <p class="h_j_title"><i class="glyphicon glyphicon-bullhorn"></i> 用户注册</p>
        </div>
        <div role="form" class="register_from register_from_login">
            <div class="form-group">
                <label for="exampleInputEmail1">手机号码或帐号</label>
                <input type="email" class="form-control" id="UserName" placeholder="输入您的手机号码">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">登录密码</label>
                <input type="password" class="form-control" id="Password" placeholder="输入您的登录密码">
            </div>
            <div class="form-group">
                <button type="submit" id="submit" class="btn btn-primary">马上登录</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#submit').click(function () {
        var UserName = $.trim($('#UserName').val());
        var Password = $.trim($('#Password').val());

        $.ajax({
            url: "/UserCenter/Login",
            type: "post",
            data: { "UserName": UserName, "Password": Password },
            success: function (data) {
                window.location.href="/UserCenter"
            }
        });
    });
</script>