@{
    ViewBag.Title = "我发布的信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uc_main">
    <div class="uc_left">
        @Html.Raw(JWL.Service.UserService.GetUserCenterListHtml("发布的信息"))
    </div>
    <div class="uc_right">
        <div class="h_j_title">
            <span class="c_truck_stitle_t">发布的信息</span>
        </div>
        <table class="table table-condensed">
            <tr>
                <td class="img_row" rowspan="3">
                    <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                </td>
                <td>车牌号：冀B0621</td>
                <td>车型：低栏车</td>
                <td>司机：王先生</td>
            </tr>
            <tr>
                <td>车长：13米</td>
                <td>载重：50吨</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">当前位置：常州</td>
                <td>更新时间：2014-7-12</td>
            </tr>
        </table>
        <table class="table table-condensed">
            <tr>
                <td class="img_row" rowspan="3">
                    <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                </td>
                <td>车牌号：冀B0621</td>
                <td>车型：低栏车</td>
                <td>司机：王先生</td>
            </tr>
            <tr>
                <td>车长：13米</td>
                <td>载重：50吨</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">当前位置：常州</td>
                <td>更新时间：2014-7-12</td>
            </tr>
        </table>
        <table class="table table-condensed">
            <tr>
                <td class="img_row" rowspan="3">
                    <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                </td>
                <td>车牌号：冀B0621</td>
                <td>车型：低栏车</td>
                <td>司机：王先生</td>
            </tr>
            <tr>
                <td>车长：13米</td>
                <td>载重：50吨</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">当前位置：常州</td>
                <td>更新时间：2014-7-12</td>
            </tr>
        </table>
        <table class="table table-condensed">
            <tr>
                <td class="img_row" rowspan="3">
                    <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                </td>
                <td>车牌号：冀B0621</td>
                <td>车型：低栏车</td>
                <td>司机：王先生</td>
            </tr>
            <tr>
                <td>车长：13米</td>
                <td>载重：50吨</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">当前位置：常州</td>
                <td>更新时间：2014-7-12</td>
            </tr>
        </table>
        <table class="table table-condensed">
            <tr>
                <td class="img_row" rowspan="3">
                    <a class="c_item"><img src="http://static.156580.com/images/ph/default_car_pic.gif" height="70" width="100" /></a>
                </td>
                <td>车牌号：冀B0621</td>
                <td>车型：低栏车</td>
                <td>司机：王先生</td>
            </tr>
            <tr>
                <td>车长：13米</td>
                <td>载重：50吨</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">当前位置：常州</td>
                <td>更新时间：2014-7-12</td>
            </tr>
        </table>
    </div>
</div>
