@{
    ViewBag.Title = "首页";
}

<div class="home_layout">
    @*<div class="home_layout_headad">
            <a href="#"><img src="~/Content/images/homead.png" /></a>
        </div>*@
    <div class="c_index_left">
        <div class="c_i_l_top">
            <a href="#"><img class="resp_img" src="~/Content/images/headad.png" /></a>
        </div>
        <div class="c_i_l_top2">
            <div class="clit2 clit2_1">
                <p class="h_j_title"><i class="glyphicon glyphicon-bullhorn"></i> 公告</p>
                <div class="c_i_r_top_content c_i_r_top_content2">
                    <p>这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告</p>
                </div>
            </div>
            <div class=" clit2 clit2_2">
                <p class="h_j_title"><i class="glyphicon glyphicon-globe"></i> 最新资讯</p>
                <div class="c_i_r_top_content c_i_r_top_content2">
                    <p>这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告这里是公告</p>
                </div>
            </div>
        </div>
        <div class="c_i_l_top c_i_l_top_2s">
            <img class="c_i_l_top_2s_img" src="~/Content/images/daohang.png" />
        </div>
        <div class="c_i_l_top3">
            <div class="clit3">
                <p class="h_j_title"><i class="glyphicon glyphicon-bullhorn"></i> 最新交易</p>
                <div class="c_i_r_top_content c_i_r_top_content2"></div>

            </div>
        </div>
    </div>
    <div class="c_index_right">
        <div class="c_i_r_top">
            <p class="h_j_title"><i class="glyphicon glyphicon-home"></i> 用户登录</p>
            <div class="c_i_r_top_content">
                帐号：<input id="UserName" type="text" class="form-control input-sm input_login_j " placeholder="请输入帐号" />
                密码：<input id="Password" type="password" class="form-control input-sm input_login_j " placeholder="请输入密码" />
                <a id="login_btn" class="btn btn-primary">现在登录</a><a class="home_layout_forgotpwd">忘记密码？</a>
                <p class="c_i_r_top_content_login_info">帐号或密码有不正确</p>
            </div>
        </div>
        <div class="c_i_r_top">
            <p class="h_j_title"><i class="glyphicon glyphicon-user"></i> 荣誉会员</p>
            <div class="c_i_r_top_content c_i_r_top_content3">
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
                <p><span>张先生 </span> <span> 189****6547 </span> <span> 已经推荐453个用户</span></p>
            </div>
        </div>
        <div class="c_i_r_top">
            <p class="h_j_title"><i class="glyphicon glyphicon-user"></i> 联系我们</p>
            <div class="c_i_r_top_content c_i_r_top_content3">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#login_btn').click(function () {
        var UserName = $.trim($('#UserName').val());
        var Password = $.trim($('#Password').val());
        if (UserName.length == 0 || Password.length == 0) {
            $('.c_i_r_top_content_login_info').show();
            $('.c_i_r_top_content_login_info').text("帐号或密码不能为空");
            return;

        }

        $.ajax({
            url:"/Home/CheckUser",
            type: "post",
            data: { "UserName": UserName, "Password": Password },
            success: function (data) {
                if (data.res==true) {
                    window.location.href = "/UserCenter";
                } else {
                    $('.c_i_r_top_content_login_info').show();
                    $('.c_i_r_top_content_login_info').text("帐号或密码有不正确");
                }
            }

        });

    });

</script>