@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PhoneLayout.cshtml";
}


<section data-am-widget="accordion" class="am-accordion am-accordion-default"
         data-am-accordion='{ "multiple": true }'>
    <dl class="am-accordion-item am-active">
        <dt class="am-accordion-title">就这样恣意的活着</dt>
        <dd class="am-accordion-content am-collapse am-in">
            置身人群中
            <br />你只需要被淹没 享受 沉默
            <br />退到人群后
            <br />你只需给予双手 微笑 等候
        </dd>
    </dl>
    <dl class="am-accordion-item">
        <dt class="am-accordion-title">让生命去等候，去等候，去等候，去等候</dt>
        <dd class="am-accordion-content am-collapse ">
            走在忠孝东路
            <br />徘徊在茫然中
            <br />在我的人生旅途
            <br />选择了多少错误
            <br />我在睡梦中惊醒
            <br />感叹悔言无尽
            <br />恨我不能说服自己
            <br />接受一切教训
            <br />让生命去等候
            <br />等候下一个漂流
            <br />让生命去等候
            <br />等候下一个伤口
        </dd>
    </dl>
    <dl class="am-accordion-item">
        <dt class="am-accordion-title">我就这样告别山下的家</dt>
        <dd class="am-accordion-content am-collapse ">我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？</dd>
    </dl>
</section>

<ul data-am-widget="gallery" class="am-gallery sm-block-grid-2
  md-block-grid-3 lg-block-grid-4 am-gallery-default" data-am-gallery="{ pureview: true }">
    <li>
        <div class="am-gallery-item">
            <a href="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg">
                <img src="http://cn.bing.com/az/hprichv/LondonTrainStation_GettyRR_139321755_ZH-CN742316019.jpg"
                     alt="远方 有一个地方 那里种有我们的梦想" />
                <h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
    </li>
    <li>
        <div class="am-gallery-item">
            <a href="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg">
                <img src="http://s.cn.bing.net/az/hprichbg/rb/CardinalsBerries_ZH-CN10679090179_1366x768.jpg"
                     alt="某天 也许会相遇 相遇在这个好地方" />
                <h3 class="am-gallery-title">某天 也许会相遇 相遇在这个好地方</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
    </li>
    <li>
        <div class="am-gallery-item">
            <a href="http://s.cn.bing.net/az/hprichbg/rb/QingdaoJiaozhou_ZH-CN10690497202_1366x768.jpg">
                <img src="http://s.cn.bing.net/az/hprichbg/rb/QingdaoJiaozhou_ZH-CN10690497202_1366x768.jpg"
                     alt="不要太担心 只因为我相信" />
                <h3 class="am-gallery-title">不要太担心 只因为我相信</h3>
                <div class="am-gallery-desc">2375-09-26</div>
            </a>
        </div>
    </li>
    <li>
        <div class="am-gallery-item">
            <a data-am-navbar-share>
                <img src="http://s.cn.bing.net/az/hprichbg/rb/FennecFox_ZH-CN13720911949_1366x768.jpg"
                     alt="终会走过这条遥远的道路" />
                <h3 class="am-gallery-title">分享</h3>
                <div class="am-gallery-desc"></div>
            </a>
        </div>
    </li>
</ul>


