@{
    Layout = null;
}

<div class="uc_mian_toppic">
    <img src="~/Content/images/homead.png" alt="易物流" height="90" width="1000" class="img-rounded">
</div>
<div class="uc_left">
    <div class="clit2 clit2_3">
        <p class="h_j_title"><i class="glyphicon glyphicon-bullhorn"></i> 注册登录</p>
    </div>
    <a href="/UserCenter/Login" class="btn-uc-reglogin">会员登录</a>
    <a href="/UserCenter/Register" class="btn-uc-reglogin">会员注册</a>
    <a href="/UserCenter" class="btn-uc-reglogin">找回密码</a>
    <a href="/UserCenter" class="btn-uc-reglogin" >返回主页</a>
</div>