@{
    Layout = null;
}

<ul class="nav nav-pills nav-stacked nav_usercenterlist">
    <li class="active"><a href="/UserCenter">会员基本资料</a>
    </li><li><a href="/UserCenter/Publish">发布的信息</a></li>
    <li><a href="/UserCenter/">成交记录查寻</a></li>
    <li><a href="/UserCenter/">交易记录</a></li>
    <li><a href="/UserCenter/">帐号安全绑定</a></li>
    <li><a href="/UserCenter/">喜欢的会员</a></li>
    <li><a href="/UserCenter/">修改资料</a></li>
    <li><a href="/UserCenter/">修改密码</a></li>
    <li><a href="/UserCenter/">帮助反馈</a></li></ul>
